## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [68]:
import os
import numpy as np
import pandas as pd

In [69]:
# 設定 data_path
dir_data = r'C:\Users\newuser\Downloads\Part01\Part01'
#data來源 https://www.kaggle.com/cityofLA/los-angeles-international-airport-data/version/82#los-angeles-international-airport-air-cargo-volume.csv

In [70]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: C:\Users\newuser\Downloads\Part01\Part01\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [71]:
app_train.shape

(1240, 6)

#### 列出所有欄位

In [72]:
list(app_train)

['DataExtractDate',
 'ReportPeriod',
 'Arrival_Departure',
 'Domestic_International',
 'CargoType',
 'AirCargoTons']

#### 截取部分資料

In [73]:
app_train.head()

,DataExtractDate,ReportPeriod,Arrival_Departure,Domestic_International,CargoType,AirCargoTons
0,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,Domestic,Freight,35703
1,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,Domestic,Mail,3209
2,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Freight,46391
3,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Mail,548
4,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Freight,36702

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [74]:
app_train.loc[2:50]

,DataExtractDate,ReportPeriod,Arrival_Departure,Domestic_International,CargoType,AirCargoTons
2,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Freight,46391
3,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Mail,548
4,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Freight,36702
5,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Mail,2845
6,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,International,Freight,31748
7,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,International,Mail,971
8,2014-05-01T00:00:00,2006-02-01T00:00:00,Arrival,Domestic,Freight,35065
9,2014-05-01T00:00:00,2006-02-01T00:00:00,Arrival,Domestic,Mail,2551
10,2014-05-01T00:00:00,2006-02-01T00:00:00,Arrival,International,Freight,45767
11,2014-05-01T00:00:00,2006-02-01T00:00:00,Arrival,International,Mail,564
12,2014-05-01T00:00:00,2006-02-01T00:00:00,Departure,Domestic,Freight,33222
13,2014-05-01T00:00:00,2006-02-01T00:00:00,Departure,Domestic,Mail,2310
14,2014-05-01T00:00:00,2006-02-01T00:00:00,Departure,International,Freight,31394
15,2014-05-01T00:00:00,2006-02-01T00:00:00,Departure,International,Mail,988
16,2014-05-01T00:00:00,2006-03-01T00:00:00,Arrival,Domestic,Freight,41014
17,2014-05-01T00:00:00,2006-03-01T00:00:00,Arrival,Domestic,Mail,2659
18,2014-05-01T00:00:00,2006-03-01T00:00:00,Arrival,International,Freight,63864
19,2014-05-01T00:00:00,2006-03-01T00:00:00,Arrival,International,Mail,671
20,2014-05-01T00:00:00,2006-03-01T00:00:00,Departure,Domestic,Freight,44584
21,2014-05-01T00:00:00,2006-03-01T00:00:00,Departure,Domestic,Mail,3836
22,2014-05-01T00:00:00,2006-03-01T00:00:00,Departure,International,Freight,35170
23,2014-05-01T00:00:00,2006-03-01T00:00:00,Departure,International,Mail,1053
24,2014-05-01T00:00:00,2006-04-01T00:00:00,Arrival,Domestic,Freight,37802
25,2014-05-01T00:00:00,2006-04-01T00:00:00,Arrival,Domestic,Mail,2536
26,2014-05-01T00:00:00,2006-04-01T00:00:00,Arrival,International,Freight,56500
27,2014-05-01T00:00:00,2006-04-01T00:00:00,Arrival,International,Mail,547
28,2014-05-01T00:00:00,2006-04-01T00:00:00,Departure,Domestic,Freight,40440
29,2014-05-01T00:00:00,2006-04-01T00:00:00,Departure,Domestic,Mail,2279
30,2014-05-01T00:00:00,2006-04-01T00:00:00,Departure,International,Freight,30295
31,2014-05-01T00:00:00,2006-04-01T00:00:00,Departure,International,Mail,1472
32,2014-05-01T00:00:00,2006-05-01T00:00:00,Arrival,Domestic,Freight,35644
33,2014-05-01T00:00:00,2006-05-01T00:00:00,Arrival,Domestic,Mail,2217
34,2014-05-01T00:00:00,2006-05-01T00:00:00,Arrival,International,Freight,54068
35,2014-05-01T00:00:00,2006-05-01T00:00:00,Arrival,International,Mail,497
36,2014-05-01T00:00:00,2006-05-01T00:00:00,Departure,Domestic,Freight,40639
37,2014-05-01T00:00:00,2006-05-01T00:00:00,Departure,Domestic,Mail,2178
38,2014-05-01T00:00:00,2006-05-01T00:00:00,Departure,International,Freight,32336
39,2014-05-01T00:00:00,2006-05-01T00:00:00,Departure,International,Mail,954
40,2014-05-01T00:00:00,2006-06-01T00:00:00,Arrival,Domestic,Freight,39164
41,2014-05-01T00:00:00,2006-06-01T00:00:00,Arrival,Domestic,Mail,2078
42,2014-05-01T00:00:00,2006-06-01T00:00:00,Arrival,International,Freight,53983
43,2014-05-01T00:00:00,2006-06-01T00:00:00,Arrival,International,Mail,496
44,2014-05-01T00:00:00,2006-06-01T00:00:00,Departure,Domestic,Freight,41203
45,2014-05-01T00:00:00,2006-06-01T00:00:00,Departure,Domestic,Mail,2165
46,2014-05-01T00:00:00,2006-06-01T00:00:00,Departure,International,Freight,38843
47,2014-05-01T00:00:00,2006-06-01T00:00:00,Departure,International,Mail,938
48,2014-05-01T00:00:00,2006-07-01T00:00:00,Arrival,Domestic,Freight,39536
49,2014-05-01T00:00:00,2006-07-01T00:00:00,Arrival,Domestic,Mail,1761
50,2014-05-01T00:00:00,2006-07-01T00:00:00,Arrival,International,Freight,54352