## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [61]:
import os
import numpy as np
import pandas as pd

In [62]:
# 設定 data_path
dir_data = r'C:\Users\newuser\Downloads\Part01\Part01'
#data來源 https://www.kaggle.com/cityofLA/los-angeles-international-airport-data/version/82#los-angeles-international-airport-air-cargo-volume.csv

In [63]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: C:\Users\newuser\Downloads\Part01\Part01\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [64]:
app_train.shape

(1240, 6)

#### 列出所有欄位

In [65]:
list(app_train)

['DataExtractDate',
 'ReportPeriod',
 'Arrival_Departure',
 'Domestic_International',
 'CargoType',
 'AirCargoTons']

#### 截取部分資料

In [66]:
app_train.head()

,DataExtractDate,ReportPeriod,Arrival_Departure,Domestic_International,CargoType,AirCargoTons
0,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,Domestic,Freight,35703
1,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,Domestic,Mail,3209
2,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Freight,46391
3,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Mail,548
4,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Freight,36702

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [67]:
app_train.loc[2:5]

,DataExtractDate,ReportPeriod,Arrival_Departure,Domestic_International,CargoType,AirCargoTons
2,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Freight,46391
3,2014-05-01T00:00:00,2006-01-01T00:00:00,Arrival,International,Mail,548
4,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Freight,36702
5,2014-05-01T00:00:00,2006-01-01T00:00:00,Departure,Domestic,Mail,2845